.error {
  color: #800101;
}

ion-input {
  .text-input {
    text-align: right !important;
  }
}

h2 {
  .alert-title.sc-ion-alert-md {
    color: #e51010 !important;
    font-size: 20px;
    font-weight: 500;
  }
}
