<ion-content>
  <ion-slides class="mainSlide">
    <ion-slide>
      <form (ngSubmit)="login(flogin)" #flogin="ngForm">
        <ion-grid fixed>
          <ion-row>
            <ion-col>
              <img class="circular--square" src="/assets/avatars/EI-Matriz.png">
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-list>
                <ion-item>
                  <ion-label>Usuario</ion-label>
                  <ion-input name="user"
                             [(ngModel)]="loginUser.usuario"
                             type="text"
                             required></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label>Password</ion-label>
                  <ion-input name="password"
                             type="password"
                             [(ngModel)]="loginUser.password"
                             required></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label>Company</ion-label>
                  <ion-input name="company"
                             [(ngModel)]="loginUser.company"
                             type="text"
                             required></ion-input>
                </ion-item>
              </ion-list>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-button type="submit"
                          color="tertiary"
                          shape="round">
                Iniciar Sesión
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
    </ion-slide>
  </ion-slides>
</ion-content>


<!--ion-footer no-border>
  <ion-toolbar>
    <ion-row>
      <ion-col>
        <ion-button shape="round"
                    expand="full"
                    size="small"
                    fill="outline"
                    color="tertiary">
          Ingresar
        </ion-button>
      </ion-col>

      <ion-col>
        <ion-button shape="round"
                    expand="full"
                    size="small"
                    fill="outline"
                    color="tertiary">
          Registrarme
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer-->
