<ion-app>
  <ion-split-pane contentId="main">
    <!--  the side menu  -->
    <ion-menu contentId="main">
      <ion-header>
        <ion-toolbar>
          <ion-title>NEXXO</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="true">
            <ion-item button (click)="changePage('/gestion-task-owner')">
              Lista de Actividad
            </ion-item>
            <ion-item button (click)="changePage('/principio-dia')">
              Principio de Día
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
      <ion-menu-toggle auto-hide="true">
        <ion-button class="btn" [color]="'danger'" [expand]="'block'"
                    (click)="cerrarSesion()">Cerrar Sesión
          <ion-icon name="power-outline"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-menu>
    <!-- the main content -->
    <ion-router-outlet id="main"></ion-router-outlet>
  </ion-split-pane>

</ion-app>
