<app-header title="Lista Actividad" href="/gestion-task-owner"></app-header>
<ion-content fullscreen *ngIf="actividades">

  <ion-list-header mode="md">
    Proyecto {{actividades[0].proyect_name}}
  </ion-list-header>

  <ion-card>
    <ion-item *ngFor="let actividad of actividades">
      <ion-label>
        <h3>Actividad: {{actividad.idtask}}</h3>
        <h3>Cantidad: {{actividad.qty_ejecutar}}</h3>
        <p>Fecaha Inicio: {{actividad.start_date}} - Fecha Termino: {{actividad.finish_date}}</p>
      </ion-label>
      <ion-button [color]="actividad.selected ? 'success' : 'primary'"
                  [fill]="actividad.selected ? 'solid' : 'outline'"
                  slot="end" (click)="detalleActividad(actividad)">Ingresar
      </ion-button>
    </ion-item>
  </ion-card>

</ion-content>
