ion-item {
  font-size: 15px !important;
}

ion-button {
  height: 23px;
  font-size: 11px;
}

.danger {
  color: red !important;
}

#alert-1-hdr {
  color: #ffd351e0 !important;
  font-size: 20px;
  font-weight: 500;
}
