ion-item {
  font-size: 15px !important;
}

ion-button {
  height: 23px;
  font-size: 11px;
}

.danger {
  color: red !important;
}

h2 {
  .alert-title.sc-ion-alert-md {
    color: #e51010 !important;
    font-size: 20px;
    font-weight: 500;
  }
}

.btn {
  bottom: -20px;
  height: 30px;
}

ion-datetime {
  .picker-opt {
    font-size: 14px !important;
  }

  padding: 0 !important;
  font-size: 0 !important;
  margin: 0 !important;
}


