<app-header title="Principio de Día" href="/listActivity"></app-header>
<ion-content>
  <ion-fab vertical="top" horizontal="end" edge slot="fixed">
    <ion-fab-button (click)="addActivity()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      pullingText="Pull to refresh"
      refreshingText="Actualizando...">
    </ion-refresher-content>
  </ion-refresher>
  <div>
    <ion-list-header mode="md">
      Capataces
    </ion-list-header>

    <ion-reorder-group (ionItemReorder)="onRenderItems($event)" [disabled]="ordenar">
      <ion-card (click)="expandItem(capataz)" *ngFor="let capataz of capataces">
        <ion-reorder>
          <ion-item
            [class]="{'success': capataz.status === 2, 'warning': capataz.status === 1, 'danger': capataz.status === 0}">
            <ion-icon name="chevron-up-outline" *ngIf="capataz.expandable" size="small" slot="end"
                      [ngClass]="capataz.expandable ? 'show' : 'hide'"></ion-icon>
            <ion-icon name="chevron-down-outline" *ngIf="!capataz.expandable" size="small" slot="end"
                      [ngClass]="capataz.expandable ? 'show' : 'hide'"></ion-icon>
            <ion-label>
              <h4 class="text">{{capataz.worker_name}}</h4>
              <h4>Partida: {{capataz.subpartida_name}}</h4>
            </ion-label>
          </ion-item>
        </ion-reorder>
        <app-expandable expandHeight="300px" [expanded]="capataz.expandable">
          <ion-item *ngFor="let actividad of capataz.actividades" (click)="navToDetail(capataz)" class="test">
            <ion-label>
              <h4>Actividad: {{actividad.activity_name}}</h4>
              <p>Hora Inicio: {{actividad.time_start}}</p>
            </ion-label>

            <ion-avatar class="image-center" slot="end"
                        *ngIf="actividad.status_asign === 0 && actividad.status_start_act === 0">
              <ion-icon name="close-circle-sharp" [color]="'danger'"
                        style="font-size:2rem;"></ion-icon>
            </ion-avatar>
            <ion-avatar class="image-center" slot="end"
                        *ngIf="actividad.status_asign === 1 && actividad.status_start_act === 0">
              <ion-icon name="alert-circle-sharp" [color]="'warning'"
                        style="font-size:2rem;"></ion-icon>
            </ion-avatar>
            <ion-avatar class="image-center" slot="end"
                        *ngIf="actividad.status_asign === 1 && actividad.status_start_act === 1">
              <ion-icon name="checkmark-circle-sharp" [color]="'success'"
                        style="font-size:2rem;"></ion-icon>
            </ion-avatar>

          </ion-item>
        </app-expandable>
      </ion-card>
    </ion-reorder-group>

    <!--ion-button color="success" expand="block" type="button" (click)="reordenar()">Ordenar</ion-button-->

    <!--ion-card *ngFor="let capataz of capataces">
      <ion-item (click)="navToDetail(capataz)" detail="true">
        <ion-avatar class="image-center" slot="end" *ngIf="capataz.status_asign === 0 && capataz.status_start_act === 0">
          <ion-icon name="close-circle-sharp" [color]="'danger'"
                    style="font-size:2rem;"></ion-icon>
          <ion-label style="overflow: initial; font-size: xx-small;">Asignar</ion-label>
        </ion-avatar>
        <ion-avatar class="image-center" slot="end"
                    *ngIf="capataz.status_start_act === 0 && capataz.status_asign === 1">
          <ion-icon name="alert-circle-sharp" [color]="'warning'"
                    style="font-size:2rem;"></ion-icon>
          <ion-label style="overflow: initial; font-size: xx-small;padding: 2px 0px 0px 5px;">Iniciar</ion-label>
        </ion-avatar>
        <ion-avatar class="image-center" slot="end"
                    *ngIf="capataz.status_start_act === 1 && capataz.status_asign === 1">
          <ion-icon name="checkmark-circle-sharp" [color]="'success'"
                    style="font-size:2rem;"></ion-icon>
          <ion-label style="overflow: initial; font-size: xx-small; padding: 2px 0px 0px 9px;">OK</ion-label>
        </ion-avatar>
        <ion-label>
          <h4>Capataz: {{capataz.worker_name}}</h4>
          <h4>Partida: {{capataz.subpartida_name}}</h4>
          <h4>Actividad: {{capataz.activity_name}}</h4>
          <p>Hora Inicio: {{capataz.time_start}}</p>
        </ion-label>
      </ion-item>
    </ion-card-->
  </div>
</ion-content>
