.image-center {
  margin: 0 auto !important;
}

h4 {
  font-size: 13px;
}

p {
  font-size: 12px;
}

.danger {
  --background: #ffb3ba !important;
}

.warning {
  --background: #ffdfba !important;
}

.success {
  --background: #baffc9 !important;
}

.text {
  font-weight: bolder;
}


.test {
  --background: ivory;
}

.turn {
  transition: max-height 0.4s ease-in-out;
  overflow: hidden;
  height: auto;
}

.hide {
  -webkit-transition: opacity ease-in-out .5s;
  -moz-transition: opacity ease-in-out .5s;
  -o-transition: opacity ease-in-out .5s;
  transition: opacity ease-in-out .5s;

  opacity: 1;
}
