.danger {
  color: red !important;
}

.alert-title.sc-ion-alert-md {
  color: #ffab04 !important;
  font-size: 20px;
  font-weight: 500;
}

p {
  font-family: Lato;
}


.menu-inner {
  display: inline-block !important;
}
