<app-header title="Final de Día" href="/listActivity"></app-header>
<ion-content scroll-y class="test">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      pullingText="Pull to refresh"
      refreshingText="Actualizando...">
    </ion-refresher-content>
  </ion-refresher>
  <div *ngIf="trabajadores.length > 0">
    <ion-list-header>
      Actividades
    </ion-list-header>
    <ion-card *ngFor="let trabajador of trabajadores">
      <ion-item (click)="expandItem(trabajador)"
                [class]="{'success': trabajador.imp >= 0, 'danger': trabajador.imp < 0}">
        <ion-icon name="chevron-up-outline" *ngIf="trabajador.expandable" size="small" slot="end"
                  [ngClass]="trabajador.expandable ? 'show' : 'hide'"></ion-icon>
        <ion-icon name="chevron-down-outline" *ngIf="!trabajador.expandable" size="small" slot="end"
                  [ngClass]="trabajador.expandable ? 'show' : 'hide'"></ion-icon>
        <ion-label>
          <h4 class="text">{{trabajador.worker_name}}</h4>
          <h4>HH: {{trabajador.hh}} - Imp:{{trabajador.imp}}- HHE:{{trabajador.hhextras}}</h4>
        </ion-label>
      </ion-item>
      <app-expandable expandHeight="300px" [expanded]="trabajador.expandable" class="bgCard">
        <ion-card-content *ngFor="let actividad of trabajador.actividades" class="bgCard" style="padding-top: 1px;padding-bottom: 1px">
          <ion-item>
            <ion-text>
              <h2 style="font-weight: bold">Actividad: {{actividad.nombre}}</h2>
              <p style="font-size: 15px;color: darkgray;" *ngIf="!actividad.editable">
                HH: {{actividad.hh}}</p>
              <p style="font-size: 15px;color: darkgray;" *ngIf="!actividad.editable">HH
                Extras: {{actividad.hhextras}}</p>
            </ion-text>
            <ion-avatar class="image-center" slot="end">
              <ion-button shape="round" color="danger" (click)="editar(actividad, trabajador)" *ngIf="!actividad.editable">
                <ion-icon name="lock-closed-outline"></ion-icon>
              </ion-button>
              <ion-button shape="round" color="success" (click)="terminarEdicion(actividad)" *ngIf="actividad.editable">
                <ion-icon name="lock-open-outline"></ion-icon>
              </ion-button>
            </ion-avatar>
          </ion-item>
          <ion-grid style="padding: 0px 0px 0px 0px;">
            <ion-row>
              <ion-col>
                <ion-item *ngIf="actividad.editable">
                  <ion-label  position="floating">HH</ion-label>
                  <ion-input [min]="0" type="number"
                             inputmode="numeric"
                             clear-input
                             [(ngModel)]="actividad.hh"></ion-input>
                </ion-item>
              </ion-col>
              <ion-col>
                <ion-item *ngIf="actividad.editable">
                  <ion-label  position="floating">HH Extras</ion-label>
                  <ion-input [min]="0" type="number"
                             inputmode="numeric"
                             clear-input
                             [(ngModel)]="actividad.hhextras"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </app-expandable>
    </ion-card>
  </div>

  <div *ngIf="trabajadores.length == 0 && this.showValues">
    <ion-card color="secondary" mode="ios">
      <ion-card-header class="ion-text-center">
        <ion-card-title>
          <ion-icon size="large" name="information-circle-outline"></ion-icon>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content class="ion-text-center">
        No se registran actividades
      </ion-card-content>
    </ion-card>
  </div>

  <div *ngIf="trabajadores.length == 0 && !this.showValues">
    <ion-list>
      <ion-list-header>
        <ion-label>
          <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
        </ion-label>
      </ion-list-header>
      <ion-item>
        <ion-label>
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          <ion-skeleton-text animated></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 88%"></ion-skeleton-text>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          <ion-skeleton-text animated></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 88%"></ion-skeleton-text>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          <ion-skeleton-text animated></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 88%"></ion-skeleton-text>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          <ion-skeleton-text animated></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 88%"></ion-skeleton-text>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          <ion-skeleton-text animated></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 88%"></ion-skeleton-text>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          <ion-skeleton-text animated></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 88%"></ion-skeleton-text>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>

</ion-content>
